@import url("https://fonts.google.com/css2?family=Poppins&display=swap");

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.context-menu{
    width: 200px;
    background-color: #222;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: fixed;
    z-index: 999;
    visibility: hidden;
    transition: all 0.5s;
}
.context-menu a{
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
    background-color: #888;
    width: 100%;
    margin-top: 0.4rem;
    border-radius: 6px;
    text-align: center;
    transition: all 0.5s;
}
.context-menu a:hover{
    background-color: #444;
}
.context-menu .cls{
    color: #ff2200;
    font-size: 1.4rem;
    position: relative;
    width: 100%;
    cursor: pointer;
}
.context-menu .cls .cls-icon{
    position: absolute;
    right: -8px;
    top: -18px;    
}
.context-menu.active{
    visibility: visible;
}