*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.menu{
    background-color: grey;
    position: fixed;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(0%, -50%);
}

.menu a{
    text-decoration: none;
    padding: 8px 10px;
    color: #fff;
    width: 100%;
}
.menu a:active,
.menu a:hover{
    background-color: #222;
    transition: all 0.4s;
}
.container{
    width: 80%;
    text-align: justify;
    margin: auto;
}