*{
    box-sizing: border-box;
}

body{
    background-color: #2c3e50;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate((-50%,-50%));
    height: 80px;
    width: 80px;
}
.loader::after,
.loader::before{
    content: "";
    border: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}
.loader::after{
    border-right-color:salmon ;
    animation: b1 2s ease 0.5s infinite normal;
}
.loader::before{
    border-left-color: gold;
    animation: b2 2s ease-in-out infinite reverse;
}

@keyframes b1{
    0%,25%{transform: rotate(0deg);}
    50%,75%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
@keyframes b2{
    0%,25%{transform: rotate(90deg);}
    50%,75%{transform: rotate(270deg);}
    100%{transform: rotate(450deg);}
}